
@model System.Data.DataTable

@using System.Data;

@{
    ViewData["Title"] = "Home Page";
}
<div class="inputX">
    @using(@Html.BeginForm("Index","Home", FormMethod.Post, new {@id = "_frmSubmitId", role = "form"}))
    {
            <div>
                <input type="checkbox" id="chByName" value="1" checked onclick="chByNameClicked(this)"/>
                <label for="chByName">Search by Name or LastName </label>
            </div>
            <div>
                <input type="checkbox" id="chByPhoneNumber" value="1" onclick="chByPhoneClicked(this)"/>
                <label for="chByPhoneNumber">Search by Phone number </label>
            </div>
            <div>
                @Html.Label("Please insert a parameter to search!")
                @Html.TextBox("tb_Parameter")
                <input type="submit" value="Search" id="btnSearch" />
            </div>
    }
        
</div>
<table class="table table-hover">
    <thead>
        <tr>
            @if (Model!=null)
            foreach (DataColumn col in Model.Columns)
            {
                    <th><strong>@Html.Display(col.ColumnName.ToString())</strong></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <td>@row[col.ColumnName].ToString()</td>
                }
            </tr>
        }
    </tbody>
</table>
